<div id="main">
    <div id="game_frame">
    <div id="collie_frame"></div>
    </div>
    <audio id="audio" src="./assets/melody.wav">
    </audio>
</div>
<%= javascript_include_tag "/map/map.js" %>
