<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class ="brand" href="#">Cashify Game</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="main" class="well">
        <h1>Cashify Game</h1>
        <div id="game_frame">
        <div id="collie_frame"></div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    collie.ImageManager.add({
        "logo": "http://rlv.zcache.com/i_love_hong_kong_bumper_stickers-r6a0661bffe77420083cc91a2005d59ec_v9wht_8byvr_512.jpg",
        "two": "http://rlv.zcache.com/i_love_taiwan_print-r62fafbfdb5ad4f60882714d678a9af54_j0e_400.jpg"
    });

    var layer = new collie.Layer({
        width : 800,
        height : 400
    });

    var item = new collie.MovableObject({
        x : 30,
        y : 40,
        velocityRotate : 70,
        backgroundImage : "logo"
    }).addTo(layer);

    var item = new collie.MovableObject({
        x : 400,
        y : 40,
        velocityRotate : 20,
        backgroundImage : "two"
    }).addTo(layer);

    collie.Renderer.addLayer(layer);

    collie.Renderer.load(document.getElementById("collie_frame"));

    collie.Renderer.start();

</script>
