//override default bootstrap color
#main{
    background: green;
    padding: 20px;
    text-align: center;
}
#game_frame{
    width: 800px;
    height: 400px;
    border: 1px solid black;
    margin: 5px auto;
}
